<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - {$act} </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<link href="__UPLOADIFY__/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('index')}">文章分类</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$act} </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="{:U()}" enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">分类名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                    <input type="hidden" name="id" value="{$row.id}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">分类描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4"  >{$row.intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" placeholder="数字越小越靠前" name="sort" maxlength="40" size="15" value="{$row.sort}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" class="status" /> 是
                    <input type="radio" name="status" value="0" class="status"  /> 否(当品牌下还没有商品的时候，首页及分类页的品牌区将不会显示该品牌。)
                </td>
            </tr>
            <tr>
                <td class="label">是否属于帮助文档</td>
                <td>
                    <input type="radio" name="is_help" value="1" class="is_help" /> 是
                    <input type="radio" name="is_help" value="0" class="is_help"  /> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__LAYER__/layer.js"></script>
<script type="text/javascript">
    $(function() {
        //回显状态
        $('.status').val([{$row.status|default=1}]);
        $('.is_help').val([{$row.is_help|default=1}]);
        $('#logo').uploadify({
            swf: '__UPLOADIFY__/uploadify.swf',
            uploader: "{:U('Upload/upload')}",
            buttonText:'上传图片',
            fileTypeDesc:'选择文件吧',
            onUploadSuccess:function(file,data){
                //将响应数据转换为json对象
                data = $.parseJSON(data);
                if(data.status == 0){
                    layer.msg(data.msg,{icon: 5});
                }else{
                    layer.msg(data.msg,{icon: 6});
                    $('#logo-url').val(data.url);
                    $('#logo-preview').attr('src',data.url);
                }
            },
        });
    });
</script>
</body>
</html>